
.loadingPageLogo{
    animation: rotation 10s infinite linear;
    justify-content: center;
}

.loadingPageText{
    color: whitesmoke;
    font-size: 50px;
    align-self: center;
}

@keyframes rotation{
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
}