.inputArea {
  padding: 0% 5%;
  position: relative;
}
.chatInputForm {
    display: flex;
    border-top: 5px solid #404047;
  }
  .chatInputForm {
    position: relative;
    width: 100%;
    align-items: center;
    align-content: center;
  }
  .chatFormInput {
    position: relative;
    border: none;
    border-radius: 50px;
    padding: 20px;
    height: 30%;
    width: 80%;
    font-size: 1.2em;

  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .formSendButton {
    color: #fff !important;
    text-transform: uppercase;
    background: #2979FF;
    border: none;
    width: 20%;
    height: 70%;
    border-radius: 50px;
    text-align: center;
    transition-duration: 0.4s;
  }
  .formSendButton:hover {
    color: #fff !important;
    text-transform: uppercase;
    background: rgb(0, 94, 255); 
    border: oldlace;
    border-radius: 50px;
  }