#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinPageButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  transition-duration: 0.4s;
  background: rgb(96, 150, 243);
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

.joinPageButton:hover {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(0, 94, 255);
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%
}

.joinPageButton:focus {
  outline: 1;
}

html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  background: rgb(32, 32, 36);
  text-align: center;
}

.joinPageHeading {
  color: white;
  font-size: 2em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.joinPageInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.joinPageLogo{
  max-height: 300px;
  max-width: 300px;
  margin: 0% 15%;
}

.mt-20 {
  margin-top: 20px;
}

.joinPageRulesBox {
  width: 600px;
  padding-left: 100px;
  text-align: left;
}

.joinPageRulesText {
  color: whitesmoke;
  font-size: 1em;
}

.joinPageTitle {
  color: whitesmoke;
  font-size: 4em;
  padding-top: 1px;
  padding-bottom: 10px;
}

.joinPageTitleRow {
  margin-top: 5%;
}


.termsOfService{
  font-size: 1em;
}


.joinPageTitleDescription {
  color: whitesmoke;
  font-size: 3em;
  padding-top: 1px;
  padding-bottom: 25px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }
  .joinInnerContainer {
    width: 100%;
  }
}